  .footer__area{
    display:grid;
    grid-template-columns: repeat(2, 50%);
    flex-direction: column;
  }

  .footer__content {
    display:grid;
    grid-template-columns: repeat(2, 50%);
    flex-direction:row;
    background-color: #FFa000;
    row-gap: 1.5rem;
  }

  .footer__information p{
    font-size: 12px;
    max-width:300px;
  

    color:#ffffff;

  }

  .footer__subtitle {
    position:relative;

    font-size: 20px;
  
  }

  .footer__img{

    position:relative;
    grid-teplate-columns: repeat(1,100%);

}
  
  .footer__title {
    text-align: center;
    color: #fff;
    font-size: 10px;
  }
  
  .footer__description {
    
    display:grid;
    justify-content:center;
    text-align: center;
    font-size: 10px;
    color:#fff;
  
  }
  
  .footer__title span {
    color: var(--first-color);
  }
  
  .footer__copy {
    color:#fff;
    font-size: var(--small-font-size);
  }
  
  .background-main{
    position:relative;
    padding:20px;
    width:100%;
    max-height:500px;
    color:#ffaf00;
    
  }
  .background-main h1{
    padding:12px;
    color:#ffaf00;
    position:relative;
    font-size:20px;
    font-family: 'Roboto Mono', monospace;

  }
  .background-main h2{
    color:#ffaf00;
    font-family: 'Roboto Mono', monospace;
    font-size:16px;

  }
  .background-main p{
    color:#ffaf00;
    font-family: 'Roboto Mono', monospace;
    font-size:13px;
  }
